body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F4F4F9; /* Blanco grisáceo */
}

.App {
  text-align: center;
}

.header {
  background-color: #6A0DAD; /* Morado principal */
  color: white;
  padding: 2rem 0;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #E6E6FA; /* Lavanda claro */
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #1B1B3A; /* Azul noche */
  font-weight: bold;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.section {
  width: 33%;
  height: 285px;
  border-radius: 20px;
  background-color:#E6E6FA ;
  padding: 4rem 2rem;
  border-bottom: 1px solid #D3D3D3;
}

.section h2 {
  color: #6A0DAD; /* Morado */
}

.section p {
  color: #333333; /* Gris oscuro */
}

.footer {
  background-color: #1B1B3A; /* Azul noche */
  color: white;
  padding: 1rem;
}
