body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  color: white;
  padding: 2rem 0;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #61dafb;
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.section {
  width: 33%;
  padding: 4rem 2rem;
  border-bottom: 1px solid #ddd;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 1rem;
}
